* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header*/
.header-container {
  width: 1440px;
  height: 100px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.header-content {
  width: 1286px;
  height: 41px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 185px;
  height: 41px;
  display: flex;
  align-items: center;
}

.logo-content {
  height: 32px;
  margin-right: 5px;
}

.logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-title {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 700;
}

.header-nav {
  width: 430px;
  height: 24px;
  display: flex;
  align-items: center;
}

.header-list {
  width: 100%;
  column-gap: 38px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.header-list-item {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.header-area-icon {
  width: 220px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 36px;
}

.icons {
  width: 25px;
  height: 22px;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.mobile-menu {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.fa-bars {
  font-size: 32px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .header-container {
    width: 1200px;
  }

  .header-content {
    width: 1046px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .header-container {
    width: 960px;
  }

  .header-content {
    width: 846px;
  }

  .header-logo {
    width: 175px;
  }

  .header-title {
    font-size: 32px;
  }

  .header-nav {
    width: 330px;
  }

  .header-area-icon {
    width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-container {
    width: 720px;
  }

  .header-content {
    width: 646px;
  }

  .header-logo {
    width: 175px;
  }

  .header-nav {
    display: none;
  }

  .header-area-icon {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

@media (max-width: 768px) {
  .header-container {
    width: 480px;
  }

  .header-content {
    width: 446px;
  }

  .header-nav {
    display: none;
  }

  .header-area-icon {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

/*section discover-new-collection*/
#discover-new-collection {
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
}

.image-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discover-area {
  width: 643px;
  height: 443px;
  padding: 50px 30px;
  background-color: #fff3e3;
  position: absolute;
  top: 25%;
  left: 50%;
  border: none;
}

.discover-content {
  width: 561;
  height: 344px;
}

.new-arrival-paragraph {
  color: #333;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
}

.discover-new-collection-header {
  color: #b88e2f;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
}

.paragraph-desc {
  padding-bottom: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.button-buy-area {
  width: 222px;
  height: 74px;
  background-color: #b88e2f;
  color: #fff;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #discover-new-collection {
    width: 1200px;
  }

  .discover-area {
    width: 543px;
    height: 343px;
  }

  .discover-new-collection-header {
    font-size: 42px;
    line-height: 55px;
  }

  .paragraph-desc {
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
  }

  .button-buy-area {
    height: 54px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #discover-new-collection {
    width: 960px;
  }

  .discover-area {
    width: 443px;
    height: 343px;
    top: 12%;
  }

  .discover-new-collection-header {
    font-size: 32px;
    line-height: 45px;
  }

  .paragraph-desc {
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .button-buy-area {
    height: 54px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #discover-new-collection {
    width: 720px;
  }

  .discover-area {
    width: 343px;
    height: 243px;
    padding: 20px 10px;
    top: 16%;
    left: 48%;
  }

  .discover-new-collection-header {
    font-size: 30px;
    line-height: 35px;
  }

  .paragraph-desc {
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
  }

  .button-buy-area {
    height: 44px;
  }
}

@media (max-width: 768px) {
  #discover-new-collection {
    width: 480px;
  }

  .discover-area {
    width: 430px;
    height: 190px;
    padding: 10px;
    top: 10%;
    left: 5%;
  }

  .discover-new-collection-header {
    font-size: 28px;
    line-height: 35px;
  }

  .paragraph-desc {
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 22px;
  }

  .button-buy-area {
    height: 44px;
  }
}

/*section browse-the-range*/
#browse-the-range {
  width: 1183px;
  height: 685px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.browse-section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.browse-header {
  color: #333;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.browse-lorem-paragraph {
  padding-bottom: 50px;
  color: #666;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.browse-area-card {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

.browse-card {
  width: 381px;
  height: 480px;
}

.browse-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.browse-title-card {
  color: #333;
  text-align: center;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #browse-the-range {
    width: 926px;
    height: 685px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #browse-the-range {
    width: 669px;
    height: auto;
  }

  .browse-header {
    font-size: 30px;
  }

  .browse-lorem-paragraph {
    font-size: 18px;
  }

  .browse-area-card {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  .browse-card {
    width: 381px;
    height: 450px;
  }

  .browse-title-card {
    font-size: 22px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #browse-the-range {
    width: 412px;
    height: auto;
  }

  .browse-header {
    font-size: 28px;
  }

  .browse-lorem-paragraph {
    font-size: 16px;
  }

  .browse-area-card {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  .browse-card {
    width: 340px;
    height: 400px;
  }

  .browse-title-card {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  #browse-the-range {
    width: 300px;
    height: auto;
  }

  .browse-header {
    font-size: 26px;
  }

  .browse-lorem-paragraph {
    font-size: 14px;
  }

  .browse-area-card {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }

  .browse-card {
    width: 300px;
    height: 350px;
  }

  .browse-title-card {
    font-size: 20px;
  }
}

/*section our products*/
#our-products {
  width: 1236px;
  height: 1084px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.our-section-header {
  display: flex;
  justify-content: center;
}

.our-header {
  padding-bottom: 50px;
  color: #3a3a3a;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.our-cards {
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  column-gap: 10px;
  row-gap: 30px;
}

.our-card {
  width: 285px;
  height: 446px;
}

.our-image-area {
  width: 100%;
  height: 301px;
  position: relative;
}

.our-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.our-circle-percent {
  width: 48px;
  height: 48px;
  background-color: #e97171;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 200px;
}

.circle-percent-titile {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.our-circle-green {
  width: 48px;
  height: 48px;
  background-color: #2ec1ac;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 200px;
}

.our-desc {
  width: 100%;
  height: 145px;
  padding: 10px 5px;
  background-color: #f4f5f7;
  display: flex;
  flex-direction: column;
}

.our-desc-header {
  padding: 10px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.our-desc-paragraph {
  padding: 0 10px;
  padding-bottom: 5px;
  color: #898989;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.our-desc-rp-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.our-desc-rp-header {
  padding: 0 10px;
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.our-desc-rp-paragraph {
  color: #b0b0b0;
  text-decoration: line-through;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.our-area-show-button {
  display: flex;
  justify-content: center;
}

.our-show-more-button {
  width: 245px;
  height: 48px;
  color: #b88e2f;
  background-color: #fff;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #b88e2f;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #our-products {
    width: 1032px;
    height: auto;
  }

  .our-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #our-products {
    width: 828px;
    height: auto;
  }

  .our-header {
    font-size: 38px;
  }

  .our-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .our-card {
    width: 285px;
    height: 430px;
  }

  .our-image-area {
    height: 290px;
  }

  .our-desc-header {
    font-size: 22px;
  }

  .our-desc-paragraph {
    font-size: 14px;
  }

  .our-desc-rp-header {
    font-size: 18px;
  }

  .our-desc-rp-paragraph {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #our-products {
    width: 624px;
    height: auto;
  }

  .our-header {
    font-size: 36px;
  }

  .our-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .our-card {
    width: 285px;
    height: 400px;
  }

  .our-image-area {
    height: 270px;
  }

  .our-desc-header {
    font-size: 20px;
  }

  .our-desc-paragraph {
    font-size: 12px;
  }

  .our-desc-rp-header {
    font-size: 16px;
  }

  .our-desc-rp-paragraph {
    font-size: 12px;
  }

  .our-show-more-button {
    width: 235px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  #our-products {
    width: 420px;
    height: auto;
  }

  .our-header {
    font-size: 34px;
  }

  .our-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .our-card {
    width: 285px;
    height: 380px;
  }

  .our-image-area {
    height: 250px;
  }

  .our-desc-header {
    font-size: 18px;
  }

  .our-desc-paragraph {
    font-size: 12px;
  }

  .our-desc-rp-header {
    font-size: 16px;
  }

  .our-desc-rp-paragraph {
    font-size: 12px;
  }

  .our-show-more-button {
    width: 225px;
    height: 35px;
  }
}

/*section beautifull-rooms*/
#beautiful-rooms {
  width: 1440px;
  height: 670px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: #fcf8f3;
  display: flex;
}

.beautiful-left-side {
  width: 564px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 30px;
}

.bautiful-area-left-side-title {
  width: 422px;
  height: 151px;
  margin: 0 auto;
}

.beautiful-rooms-header {
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}

.beautiful-our-designer-paragraph {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.explore-more-button {
  width: 176px;
  height: 48px;
  margin-left: 18px;
  background-color: #b88e2f;
  color: #fff;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #b88e2f;
  cursor: pointer;
}

.bautiful-right-side {
  width: 1196px;
  display: flex;
  align-items: center;
  column-gap: 20px;
  overflow: hidden;
}

.beautiful-image-one {
  width: 404px;
  height: 582px;
  position: relative;
}

.image_one,
.image_two,
.image_three {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.beautiful-image-two {
  width: 372px;
  height: 486px;
}

.beautiful-image-three {
  width: 160px;
  height: 486px;
}

.inner-peace-area {
  display: flex;
}

.inner-peace {
  width: 217px;
  height: 130px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
}

.bed-room-paragraph {
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.inner-peace-header {
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
}

.cta-image {
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 40px;
  left: 257px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #beautiful-rooms {
    width: 1032px;
  }

  .beautiful-left-side {
    width: 550px;
    padding: 0 15px;
  }

  .beautiful-rooms-header {
    font-size: 36px;
  }

  .bautiful-right-side {
    width: 953px;
  }

  .beautiful-image-one {
    width: 400px;
  }

  .beautiful-image-two {
    width: 280px;
  }

  .beautiful-image-three {
    width: 20px;
    height: 486px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #beautiful-rooms {
    width: 849px;
  }

  .beautiful-left-side {
    width: 534px;
    padding: 0 15px;
  }

  .beautiful-rooms-header {
    font-size: 32px;
    line-height: 100%;
  }

  .beautiful-our-designer-paragraph {
    font-size: 16px;
    line-height: 120%;
  }

  .explore-more-button {
    margin-left: 2px;
  }

  .bautiful-right-side {
    width: 710px;
  }

  .beautiful-image-two {
    display: none;
  }

  .beautiful-image-three {
    display: none;
  }

  .inner-peace-header {
    font-size: 26px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #beautiful-rooms {
    width: 606px;
  }

  .beautiful-left-side {
    width: 400px;
    padding: 0 15px;
  }

  .bautiful-area-left-side-title {
    width: 360px;
  }

  .beautiful-rooms-header {
    font-size: 30px;
    line-height: 100%;
  }

  .beautiful-our-designer-paragraph {
    font-size: 16px;
    line-height: 120%;
  }

  .explore-more-button {
    margin-left: 2px;
  }

  .bautiful-right-side {
    width: 467px;
  }

  .beautiful-image-two {
    display: none;
  }

  .beautiful-image-three {
    display: none;
  }

  .inner-peace-area {
    display: none;
  }
}

@media (max-width: 768px) {
  #beautiful-rooms {
    width: 606px;
  }

  .beautiful-left-side {
    width: 600px;
  }

  .bautiful-area-left-side-title {
    width: 360px;
  }

  .beautiful-rooms-header {
    font-size: 30px;
    line-height: 100%;
  }

  .beautiful-our-designer-paragraph {
    font-size: 16px;
    line-height: 120%;
  }

  .explore-more-button {
    margin: 0 auto;
  }

  .bautiful-right-side {
    display: none;
  }
}

/*section funiro-furniture*/
#funiro-furniture {
  width: 1799px;
  height: 780px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.funiro-header {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.furniro-share-paragraph {
  color: #616161;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
}

.funiro-furniture-header {
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}

.furniro-area-image {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.furniro-image-one {
  width: 274px;
  height: 382px;
  grid-column: 1;
  justify-self: center;
  align-self: flex-start;
}

.furniro-image-two {
  width: 451px;
  height: 312px;
  grid-column: 2;
  justify-self: center;
  align-self: self-end;
}

.funiro-image-three {
  width: 295px;
  height: 392px;
  grid-column: 3;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
}

.funiro-image-four {
  width: 290px;
  height: 348px;
  grid-column: 4;
  align-self: self-end;
}

.funiro-image-five {
  grid-column: 5;
  align-self: self-start;
}

.funiro-image-six {
  width: 281px;
  height: 323px;
  grid-column: 1;
  grid-row: 2;
  align-self: self-start;
  justify-self: self-end;
}

.funiro-image-seven {
  width: 344px;
  height: 242px;
  justify-self: self-end;
}

.funiro-image-eight {
  width: 178px;
  height: 242px;
  grid-column: 4;
}

.funiro-image-nine {
  width: 258px;
  height: 196px;
  grid-column: 5;
  grid-row: 2;
  align-self: self-start;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #funiro-furniture {
    width: 1032px;
    height: auto;
  }

  .furniro-area-image {
    grid-template-columns: repeat(3, 1fr);
  }

  .funiro-image-four {
    grid-column: 1;
    grid-row: 2;
  }

  .funiro-image-five {
    grid-column: 2;
    grid-row: 2;
    align-self: self-start;
  }

  .funiro-image-six {
    grid-column: 1;
    grid-row: 3;
  }

  .funiro-image-seven {
    grid-column: 2;
    grid-row: 3;
  }

  .funiro-image-eight {
    grid-column: 3;
    grid-row: 3;
  }

  .funiro-image-nine {
    grid-column: 3;
    grid-row: 2;
    align-self: self-end;
    justify-self: self-end;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  #funiro-furniture {
    width: 970px;
    height: auto;
  }

  .furniro-area-image {
    grid-template-columns: repeat(2, 1fr);
  }

  .funiro-image-three {
    grid-column: 1;
    grid-row: 2;
    justify-self: self-end;
  }

  .funiro-image-four {
    grid-column: 2;
    grid-row: 2;
  }

  .funiro-image-five {
    grid-column: 1;
    grid-row: 3;
    justify-self: self-end;
  }

  .funiro-image-six {
    grid-column: 2;
    grid-row: 3;
    justify-self: self-start;
  }

  .funiro-image-seven {
    grid-column: 1;
    grid-row: 4;
    justify-self: self-end;
  }

  .funiro-image-eight {
    grid-column: 2;
    grid-row: 4;
  }

  .funiro-image-nine {
    grid-column: 1;
    grid-row: 5;
    align-self: self-start;
    justify-self: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #funiro-furniture {
    width: 710px;
    height: auto;
  }

  .furniro-area-image {
    grid-template-columns: repeat(1, 1fr);
  }

  .furniro-image-two {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }

  .funiro-image-three {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
  }

  .funiro-image-four {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
  }

  .funiro-image-five {
    grid-column: 1;
    grid-row: 5;
    justify-self: center;
  }

  .funiro-image-six {
    grid-column: 1;
    grid-row: 6;
    justify-self: center;
  }

  .funiro-image-seven {
    grid-column: 1;
    grid-row: 7;
    justify-self: center;
  }

  .funiro-image-eight {
    grid-column: 1;
    grid-row: 8;
    justify-self: center;
  }

  .funiro-image-nine {
    grid-column: 1;
    grid-row: 9;
    justify-self: center;
  }
}

@media (max-width: 768px) {
  #funiro-furniture {
    width: 510px;
    height: auto;
  }

  .furniro-area-image {
    grid-template-columns: repeat(1, 1fr);
  }

  .furniro-image-two {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
  }

  .funiro-image-three {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
  }

  .funiro-image-four {
    grid-column: 1;
    grid-row: 4;
    justify-self: center;
  }

  .funiro-image-five {
    grid-column: 1;
    grid-row: 5;
    justify-self: center;
  }

  .funiro-image-six {
    grid-column: 1;
    grid-row: 6;
    justify-self: center;
  }

  .funiro-image-seven {
    grid-column: 1;
    grid-row: 7;
    justify-self: center;
  }

  .funiro-image-eight {
    grid-column: 1;
    grid-row: 8;
    justify-self: center;
  }

  .funiro-image-nine {
    grid-column: 1;
    grid-row: 9;
    justify-self: center;
  }
}

/*footer*/
#footer {
  border-top: 1px solid #000;
}

.footer-container {
  width: 1440px;
  height: 446px;
  margin: 0 auto;
  background-color: #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
}

.footer-content {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.funiro-header {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.left-desc {
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.center {
  display: flex;
  column-gap: 100px;
}

.area-links {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.title-links {
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.list-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.link-item {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.area-help {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.title-help {
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.list-help {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.help-item {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.newsletter {
  width: 286px;
  padding-bottom: 30px;
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.right-side-desc {
  display: flex;
  justify-content: space-between;
}

.newsletter-input {
  width: 200px;
  height: 24px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.newsletter-input::placeholder {
  color: #9f9f9f;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.subscribe-paragraph {
  color: #000;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000;
}

.end-title-area {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.end-title {
  padding: 30px 0;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .footer-container {
    width: 1032px;
  }

  .end-title-area {
    width: 1032px;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  .footer-container {
    width: 789px;
  }
  .center {
    display: flex;
    column-gap: 50px;
  }

  .end-title-area {
    width: 789px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container {
    width: 546px;
    border: none;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
  }
  .left-side {
    margin-bottom: 20px;
  }
  .end-title-area {
    width: 546px;
  }
}

@media (max-width: 768px) {
  .footer-container {
    width: 303px;
    border: none;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
  }

  .left-side {
    margin-bottom: 20px;
  }
  .end-title-area {
    width: 303px;
  }
}

